.container{
  background-color:rgba(173, 216, 230, 0.5);
  text-align: center;
  height: 60vh;
  box-shadow: 3px 2px 1px hsla(0, 0%, 0%, 0.4);
  border: 1px solid black;
}
h1{
  text-align: center;
  font-size: 2.5rem;
  color: hsla(0, 100%, 50%, 0.8);
  text-shadow: 2px 1px 1px hsla(0, 0%, 0%, 0.1);
}
.counter{
  font-size: 5rem;
}
.btn{
  padding: 10px 20px;
  background-color: hsla(0, 0%, 50%, 0.5);
  color: hsla(0, 0%, 0%, 0.90);
  font-weight: bolder;
  border: 2px solid black;
  border-radius: 4px;
  margin: 20px;
  cursor: pointer;
  box-shadow: 2px 3px 2px hsla(0, 0%, 0%, 0.25);
}
.btn:hover{
  background-color: hsla(0, 0%, 50%, 0.99);
  color: hsla(0, 0%, 0%, 0.90);
 
}